@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html, body {
  height: 100%;
  font-family: 'Rock Salt', cursive;
}

figure, figcaption {
  display: block;
}

figure {
  float: left;
  position: relative;
  width: 320px;
  padding: 16px;
  background: #eee6d8;
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
}

img {
  width: 320px;
  height: 320px;
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, #ccc 25%, #fff 25%);
  background-size: 32px 32px;
  background-position:0 0, 0 0, -16px -16px, 16px 16px;
}

figcaption{
  text-align: center;
  font-size: 1.3em;
  color: #454f40;
  letter-spacing: 0.09em;
}

.a {
  -webkit-transform:rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);

}

.b {
  -webkit-transform:rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-backface-visibility:hidden;
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}

.c {
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}
